<div class="rodape">
    <div class="pi-search">
        <!-- conteúdo do componente -->
      </div>
    
    <div class="footer">  
      <!--
      <div class="antes">
        <img src="../assets/_img/left_arrow_100px.png">
      </div>-->
      <button class="navegation" routerLink="categorias" style="background-color:  #fff; color: black;">Anterior</button>  
        <button class="navegation" routerLink="categorias" style="background-color:  #403f3f;">Categorias</button>  
        <button class="navegation" routerLink="artigos" style="background-color: #403f3f;">Artigos</button>  
        <button class="navegation" routerLink="mesas"  style="background-color:  #403f3f;">Mesas</button>  
        <button class="navegation" routerLink="categorias" style="background-color:  #fff; color: black;">Proximo</button>  

       <!--
        <div class="prox">
          <img src="../assets/_img/right_arrow_100px.png">
        </div>  -->
        </div>
</div>
   