
<section class="produtos" >
    <section class="produto" >
      
        <img src="../assets/_img/img-1.png" routerLink="/frutas">
        <p>Cosmético</p>
    </section>
    <section class="produto">
       
     <img src="../assets/_img/mix2.png">
     <p>Frutas</p>
 </section>
 <section class="produto">
    

  <img src="../assets/_img/mix3.png">
  <p>Batidos</p>
 </section>
 <section class="produto">
 <img src="../assets/_img/mix4.png">
 <p>Legumes</p>

 </section>
 <section class="produto">

 <img src="../assets/_img/mix5.png">
 <p>Pequeno Almoço</p>

 </section>
 <section class="produto">

 <img src="../assets/_img/mix6.png">
 <p>Prato Principal</p>

 </section>
