<section class="produtos">
    <section class="produto">
        <input type="checkbox" id="mussarela" name="pizzas">
        <h4>10</h4>
      <label for="mussarela"><img src="../assets/_img/img_4.jpg">
        <p>Tenis</p>
        <p>0.00kz</p></label>  
    </section>
    <section class="produto">
      <h4>10</h4>
     <img src="../assets/_img/cat-2.jpg">
     <p>Camara 2</p>
     <p>0.00kz</p>
 </section>
 <section class="produto">
  <h4>10</h4>
  <img src="../assets/_img/cat-3.jpg">
  <p>Tenis</p>
  <p>0.00kz</p>
 </section>
 <section class="produto">
  <h4>10</h4>
 <img src="../assets/_img/cat-4.jpg">
 <p>Champon</p>
 <p>0.00kz</p>
 </section>
 <section class="produto">
  <h4>10</h4>
 <img src="../assets/_img/product-1.jpg">
 <p>Camara Prof</p>
 <p>100.000kz</p>
 </section>
 <section class="produto">
  <h4>10</h4>
 <img src="../assets/_img/product-2.jpg">
 <p>Turqui</p>
 <p>0.00kz</p>
 </section>
 
 <section class="produto">
  <h4>10</h4>
 <img src="../assets/_img/product-3.jpg">
 <p>Chaminê</p>
 <p>0.00kz</p>
 </section>
 
 <section class="produto">
  <h4>10</h4>
 <img src="../assets/_img/product-4.jpg">
 <p>Sapatilha</p>
 <p>0.00kz</p>
 </section>
 <section class="produto">
  <h4>10</h4>
    <img src="../assets/_img/product-5.jpg">
    <p>Drone</p>
    <p>0.00kz</p>
    </section>
    <section class="produto">
      <h4>10</h4>
    <img src="../assets/_img/product-6.jpg">
    <p>Relogio</p>
    <p>20.000kz</p>
    </section>
    
  
 </section>
 <script src="./../../../assets/javascrpt/javascript.js"></script>
