
<section class="produtos">
<section class="produto">
        <img src="../assets/_img/img-1.png">
        <p>Bebidas</p>
    </section>
    <section class="produto">
     <img src="../assets/_img/img-2.png">
     <p>Frutas</p>
 </section>
 <section class="produto">
  <img src="../assets/_img/img-3.png">
  <p>Batidos</p>
 </section>
 <section class="produto">
 <img src="../assets/_img/img-4.png">
 <p>Legumes</p>
 </section>
 <section class="produto">
 <img src="../assets/_img/img-5.png">
 <p>Pequeno Almoço</p>
 </section>
 <section class="produto">
 <img src="../assets/_img/img-6.png">
 <p>Prato Principal</p>
 </section>


<!-- Button trigger modal -->
