
<div class="Principal">
    <div class="lateral">
        <div class="heade">
            <div class="logo">
        <h1 routerLink="">ENTERPRISE</h1>
    </div>
    <div class="pi-search">
        <!-- conteúdo do componente -->
    
            <div class="busca">
                <input type="text" name="" placeholder="Pesquisar...">   
                <input type="submit" name="" value="Pesquisar"><i class="pi pi-search"></i>
            </div> 
            </div>           
    </div>
    <div class="cen1" style="height: 25px;">
       <div class="cen2">
        <p style="margin-left: 10px; color: white; margin-top: 2px; font-weight: 300; font-size: 12px;">enterprise / mesas </p>
       </div>
       <div class="cen3">
        <p style="margin-right: 15px; color: white; margin-top: 2px; font-weight: 300; font-size: 12px;">seta</p>
       </div>
    </div>
    <router-outlet></router-outlet>
     </div>
 <div class="center">
    <div class="cen4">
        <p>Cliente <span style="float: right; margin-right: 10px;">Inocencio Quifungo Bumba</span></p>
        <p>NIF <span style="float: right; margin-right: 10px;">006381271LA045</span></p>

        <p>Imposto <span style="float: right; margin-right: 10px;">12,00%</span></p>
        <p>Desconto<span style="float: right; margin-right: 10px;">12,00%</span></p>
 </div>
 <div class="corpo">
   
    <section class="table-responsive-xxl">
        <table width="95%">
            <tr>
                <th class="top">Produto</th><th class="top">Quantidades</th> <th class="top" >Preços</th>
                </tr>
                <tr>
                <td align="center">Compal <br>informações</td> 
                <td align="center">7</td> 
                <td align="center">10.000kz</td> 
                
            </tr>
            <tr>
                <td align="center">Caixa de Massa <br>informações</td> 
                <td align="center">5</td> 
                <td align="center">9.000kz</td> 

            </tr>
            <tr>
                <td align="center"> Saco de Arroz <br>informações</td>
                <td align="center">3</td> 
                <td align="center">8.000kz</td> 

            </tr>
            <tr>
                <td align="center">Saco de Fuba <br>informações</td>
                <td align="center">4</td> 
                <td align="center">4.000kz</td> 

            </tr>
            <tr>
                <td align="center">Caixa de Frango <br>informações</td>
                <td align="center">3</td> 
                <td align="center">8.000kz</td> 

            </tr>
           
    
        </table>
       </section>
    </div>
    </div>
 <div class="riht">
    <div class="pre">
       <p>283.45,00kz</p>
    </div>
     <div class="categorias">
        <button class="navegation" style="background-color: #403f3f;">Cliente</button>
        <button class="navegation" style="background-color: #403f3f;">Preços</button>
        <button class="navegation" style="background-color: #403f3f;">Stock</button>
        <button class="navegation" style="background-color: #403f3f;">Deixar Pendente</button>
        <button class="navegation" style="background-color: #403f3f;">Cancelar</button>
        <button class="navegation" style="background-color: #403f3f;">Gravar</button>  

        </div>
            
        
 </div>
